{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" width="90" />
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara">Diseñador Logotipo: Flaticon</a></li>
    </ul>
</footer>