{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Isabel Larriba - Fotógrafa</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350" />
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, omnis architecto sapiente velit eos voluptatibus blanditiis? Perferendis tempora veritatis debitis sit ab neque quae dolore quas cupiditate fugit. Deserunt, voluptatibus!</p>
        </div>
    </div>
{% endblock %}