{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <h1>Error 404</h1>    
    <p>mi propia página de error</p>
    <h2>Recurso no encontrado</h2>

    <p>
        La URL solicitada no se encuentra en este servidor. Revise y vuelva a intentar el acceso</a>.
    </p>
{% endblock %}