<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{name}}</h1>
    <h3>Categorías</h3>
    <!--<p>{{categories}}</p> -->
    <ul>
        {# Hola soy un comentario de una sola línea #}
        {% comment %}
            Hoy soy un comentario 
            multilínea
            En la parte inferior recorremos las categorias y las pitamos.
            en caso de ser code, la categegoría se muestra en negrita. 
        {% endcomment %}
        <!-- Esto es un comentario en HTMl -->
        <!--<li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li> -->
        {% for category in categories %}
            {% if category == 'code' %}
                <li><b>{{ category|upper }}</b></li>
            {% else %}
                <li>{{ category}}</li>
            {% endif %}
            <!--<li>{{ category }}</li>-->
        {% endfor %}
        <h5>Total de categorías: {{categories|length}}</h5>
    </ul>
</body>
</html>