<div>
    <a href="{% url 'contact' letter='a' %}">A</a>
    <a href="{% url 'contact' letter='b' %}">B</a>
    <a href="{% url 'contact' letter='c' %}">C</a>
    <a href="{% url 'contact' letter='d' %}">D</a>
    <a href="{% url 'contact' letter='e' %}">E</a>
    <a href="{% url 'contact' letter='f' %}">F</a>
    <a href="{% url 'contact' letter='g' %}">G</a>
    <a href="{% url 'contact' letter='h' %}">H</a>
    <a href="{% url 'contact' letter='i' %}">I</a>
    <a href="{% url 'contact' letter='j' %}">J</a>
    <a href="{% url 'contact' letter='k' %}">K</a>
    <a href="{% url 'contact' letter='l' %}">L</a>
    <a href="{% url 'contact' letter='m' %}">M</a>
    <a href="{% url 'contact' letter='n' %}">N</a>
    <a href="{% url 'contact' letter='ñ' %}">Ñ</a>
    <a href="{% url 'contact' letter='o' %}">O</a>
    <a href="{% url 'contact' letter='p' %}">P</a>
    <a href="{% url 'contact' letter='q' %}">Q</a>
    <a href="{% url 'contact' letter='r' %}">R</a>
    <a href="{% url 'contact' letter='s' %}">S</a>
    <a href="{% url 'contact' letter='t' %}">T</a>
    <a href="{% url 'contact' letter='u' %}">U</a>
    <a href="{% url 'contact' letter='v' %}">V</a>
    <a href="{% url 'contact' letter='w' %}">W</a>
    <a href="{% url 'contact' letter='x' %}">X</a>
    <a href="{% url 'contact' letter='y' %}">Y</a>
    <a href="{% url 'contact' letter='z' %}">Z</a>
</div>