{% extends 'base.html.twig' %}

{% block title %}New Pupil{% endblock %}

{% block body %}
    <h1>Create new Pupil</h1>

    {{ include('pupil/_form.html.twig') }}

    <a href="{{ path('pupil_index') }}">back to list</a>
{% endblock %}
