body {
  background-color: darkslategray;
  color: white;
  text-align: center;
}
.listado-notas {
  padding: 10px;
}

.listado-notas div {
  margin-top: 5px;
  padding: 10px 5px;
  background-color: tomato;
}

.input-nueva-nota input {
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px #fff;
  margin-right: 5px;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
