{% extends 'layout/base.html' %}

{% block 'title' %} Editar Tarea {% endblock %}

{% block 'styles' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block 'content' %}

    {% if messages %}   
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <span class='aux-btns-forms'><a href="{% url 'todo' %}">Volver atrás</a></span>
    <form action="{% url 'todo_edit' id=id %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="btn-wrapper">
            <input type='submit' value='Enviar' class='btn-send'/>
        <div>
    </form>
{% endblock %}