{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1>Create new Course</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('course_index') }}">back to list</a>
{% endblock %}
